<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html dir="ltr">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=iso-8859-1">
<meta http-equiv="Content-Style-Type" content="text/css">

<title>Solaris phpBB Template - Manual and Installation Guide</title>
<link rel="stylesheet" href="Solaris.css" type="text/css">

<!--

  NOTICE

  Solaris template, originally custom designed for alternativeSuns forums (http://forum.alternativesuns.com).
  Template created by Jakob Persson (http://www.jakob-persson.com), see my website for more free templates
  and samples of my work.

  This template is in no way associated or affiliated with the film by the same name released in 2002, directed
  by Steven Soderbergh and distributed by 20th Century Fox.
  No trademark infringement intended. Choice of name solely meant as a tribute to the science-fiction novel
  by the same name by author Stanislaw Lem (http://www.cyberiad.info).

  This template is publicly available for use with the phpBB forum software (http://www.phpbb.com).

  This template is copyright (c) Jakob Persson 2003 - 2005.

  Template ID: EkjAk9vYSF2dpi3LiBJR2Vq8jW9NX9pSYAxMfPGy

  Removal or alteration of this notice is strongly prohibited.

-->

</head>
<body>
<table width="750" border="0" cellpadding="0" cellspacing="0" align="center">
  <tr>
    <td valign="top" class="maintable">

        <table width="100%" border="0" cellspacing="0" cellpadding="0">
          <tr>
            
          <td width="50%" valign="top"><img src="images/forumlogo.jpg" width="253" height="98" border="0" /></td>
            
          <td width="50%">
		  		<h1 style="text-align : center; color : #FFFFFF; font-style : italic;">Solaris phpBB Template </h1>
            	<p align="center" class="genmed" style="text-align : center; color : #FFFFFF"><b>Manual and Installation Guide</b></p>
            	<p align="center"><span class="gensmall" style="text-align : center; color : #FFFFFF">Copyright &copy; 2003-2006 Jakob
            	    Persson  </span></p>
		    </td>
          </tr>
          <tr>
            <td colspan="2" valign="top"><img src="images/bg_top_border.jpg" width="750" height="51" /></td>
          </tr>
          <tr>
      		<td colspan="2">

				  <table width="720" border="0" cellpadding="0" cellspacing="0" align="center">
					<tr>
                  		<td class="mainforumcell">

						<table width="100%" border="0" cellspacing="0" cellpadding="0" align="center">
  							<tr>
    							<td width="1%"><img src="images/spacer.gif" width="10" /></td>
    							
                      <td width="98%"><h1>Table of Contents </h1>
                        <table width="100%" border="0">
                          <tr> 
                            <td width="1%"><img src="images/folder.gif" width="16" height="16"></td>
                            <td width="99%" class="genmed"><a href="#info">Template 
                              Information</a></td>
                          </tr>
                          <tr> 
                            <td><img src="images/folder.gif" width="16" height="16"></td>
                            <td class="genmed"><a href="#installation">Installation</a></td>
                          </tr>
                          <tr> 
                            <td><img src="images/folder.gif" width="16" height="16"></td>
                            <td class="genmed"><a href="#extras">Extras</a></td>
                          </tr>
                          <tr> 
                            <td><img src="images/folder.gif" width="16" height="16"></td>
                            <td class="genmed"><a href="#license">License and 
                              Disclaimer</a></td>
                          </tr>
                        </table>
                        <br> <hr size="1" color="#333333" style="border-color : #AAAAAA"> 
                        <h1><a name="info"></a>Template Information</h1>
                        <p class="genmed">This is the rerelease of the hugely
                          popular Solaris. I have delayed it expecting phpBB
                          3 to be released sooner but as that is yet to happen,
                          I've made this release now. While this rerelease includes
                          a number of updates and fixes, they are all relatively
                          minor compared to the new Solaris theme I am working
                          on as I am writing this. I won't say more, I'll
                          let it remain a surprise but I'm positive it'll turn
                          out to be one of my best designs ever.</p>
                        <p class="genmed">This new version fixes the bugs I have
                          been informed of, it should also be fully compatible
                          with phpBB 2.0.17 and fully support visual confirmation.
                          Besides the less visible fixes, the logo has been updated,
                          some things have been restyled a little and so have
                          a few of the buttons.<br>
                          I am aware that many of you run modded boards with
                          extra graphics and you may still use the old image
                          files. If so make sure you don't overwrite them when
                          you upload this. The new buttons are just a small bonus.
                          :)</p>
                        <p class="genmed">This template started out as a template 
                          for a customer, Pablo Soler, who runs the French role-playing 
                          website <a href="http://www.alternativesuns.com">alternativeSuns</a>. 
                          He wanted a stylish and unique look for his forums (<a href="http://forum.alternativesuns.com">http://forum.alternativesuns.com</a>) 
                          and contacted me. He also asked me to release the template 
                          to the public.<br>
                          <br>
                          So, here's the end result. The name of the template 
                          is borrowed from one of my favorite books, a novel by 
                          Polish science-fiction author Stanislaw Lem (visit his 
                          website at <a href="http://www.cyberiad.info">cyberiad.info</a>). 
                          It's one of the best modern science-fiction novels and 
                          I recommend it strongly.<br>
                          <br>
                          You could call it the sequel to SpacePilot3K and in 
                          a sense it is but this is SpacePilot3K taken a step 
                          further. This is an attempt at creating a futuristic 
                          space science-fiction template with a black oriented 
                          color scheme. The colors of Solaris are rather dark, 
                          and I've tried to adjust them to fit both flat screens 
                          and standard CRT screens. Should the colors be too dark, 
                          try increasing the brightness of your screen.<br>
                          <br>
                          Also note that even though it has graphics as top-right 
                          navigation links, this template supports multiple languages. 
                          As long as there's a lang_<em>&lt;language name&gt;</em> 
                          folder in the images subfolder of the Solaris folder, 
                          the images will load automatically when you swap language 
                          in your profile. If the template can't find any images 
                          for the language you've chosen, it will load the default 
                          language which is English (can be changed by modifying 
                          <em>overall_header.tpl</em>).<br>
                          English and French images are included with the template. 
                          You can download the image set from phpbb.com to create 
                          your own translated graphics.<br>
                          <br>
                          I've spent quite some time debugging this template so 
                          you shouldn't experience any problems using it. But, 
                          if you might, feel free to drop me a line. You'll find 
                          my contact details at <a href="http://www.jakob-persson.com">my 
                          website</a>.<br>
                          <br>
                          I listened an awfully lot to <em>M.E.</em> by <em>Underworld</em> 
                          while designing this template so there has to be something 
                          of it in this...</p>
                        <table width="100%" border="0" cellpadding="0" cellspacing="0">
                          <tr> 
                            <td class="tableborder"> <table width="100%" border="0" cellpadding="3" cellspacing="1">
                                <tr> 
                                  <td colspan="2" bgcolor="#0C0C0C" class="categorybar"> 
                                    <table border="0">
                                      <tr> 
                                        <td><img src="images/category_icon.gif" /></td>
                                        <td class="cattitle">Details</td>
                                      </tr>
                                    </table></td>
                                </tr>
                                <tr> 
                                  <td valign="top" class="row1"><span class="genmed"><strong>Template 
                                    name</strong></span></td>
                                  <td width="77%" valign="top" class="row1"><span class="genmed">Solaris</span></td>
                                </tr>
                                <tr> 
                                  <td valign="top" class="row1"><span class="genmed"><strong>Template 
                                    version</strong></span></td>
                                  <td valign="top" class="row1"><span class="genmed">1.12</span></td>
                                </tr>
                                <tr> 
                                  <td width="23%" valign="top" class="row1"><span class="genmed"><strong>Compatible 
                                    with</strong></span></td>
                                  <td valign="top" class="row1"><span class="genmed">phpBB
                                       2.0.19</span></td>
                                </tr>
                                <tr> 
                                  <td valign="top" class="row1"><span class="genmed"><strong>Author</strong></span></td>
                                  <td valign="top" class="row1"><span class="genmed">Jakob 
                                    Persson</span></td>
                                </tr>
                                <tr> 
                                  <td valign="top" class="row1"><span class="genmed"><strong>Template 
                                    description</strong></span></td>
                                  <td valign="top" class="row1"><span class="genmed">A 
                                    space style template in yellow, orange, gray 
                                    and black.</span></td>
                                </tr>
                                <tr> 
                                  <td valign="top" class="row1"><span class="genmed"><strong>Localized</strong></span></td>
                                  <td valign="top" class="row1"><span class="genmed">English 
                                    and French graphics included. An image set 
                                    for creating localized graphics is available 
                                    at <a href="http://www.jakob-persson.com">www.jakob-persson.com</a> 
                                    as well as at <a href="http://www.phpbb.com">www.phpbb.com</a>.</span></td>
                                </tr>
                              </table></td>
                          </tr>
                        </table>
                        <p class="genmed"><strong>Questions</strong><br>
                          Questions by email will not be answered. Instead I suggest 
                          you post your question in the Styles Development forum 
                          at <a href="http://www.phpbb.com/phpBB">http://www.phpbb.com/phpBB</a>. 
                          If I am unable to help you, it's likely someone else 
                          there will be able to. </p>
                        <p class="genmed"><strong>Comments</strong><br>
                          Comments are always welcome. If you find an error, encounter 
                          a problem or have general ideas or suggestions, feel 
                          free to contact me by email (see <a href="http://www.jakob-persson.com">my 
                          website</a> for contact details) or by sending me a 
                          private message at the <a href="http://www.phpbb.com/phpBB">phpBB.com 
                          forums</a> (my nickname is Kail).</p>
                        <p class="genmed"><strong>Version history</strong><br>
                          All dates are in European format (yyyy-mm-dd).</p>
                        <blockquote class="genmed">
                          <p><strong>v1.12 (2006-01-06)</strong><br>
- phpBB 2.0.19 compatibility. </p>
                          <p><strong>v1.11 (2005-12-13)</strong><br>
                            - phpBB 2.0.18 compatibility. </p>
                          <p><strong>v1.1 (2005-09-10)</strong><br>
                            - Many bug fixes as well as phpBB 2.0.17 compatibility. </p>
                          <p><strong>v1.01 (2003-04-07)</strong><br>
                            - Fixed bug: {L_CURRENT_PASSWORD} shown in profile page.</p>
                        </blockquote>						  
                        <blockquote class="genmed"><strong>v1.0 (2003-03-30)</strong><br>
                          - First release.</blockquote>

                        <hr size="1" color="#333333" style="border-color : #AAAAAA"> 
                        <h1><a name="installation"></a>Installation</h1>
                        <p class="genmed">If you need help installing it, please 
                          refer to <a href="http://www.phpbb.com/kb/article.php?article_id=21">this 
                          excellent installation guide</a> in the phpBB knowledge 
                          base.</p>
                        <p class="genmed">If you'd have any problems please post 
                          a reply in the <a href="http://www.phpbb.com/phpBB/viewforum.php?f=23">Styles 
                          Development forum</a> at phpbb.com, in the original 
                          Solaris release topic, and I'll reply as soon as I can.</p>
                        <hr size="1" color="#333333" style="border-color : #AAAAAA"> 
                        <h1><a name="extras" id="extras"></a>Extras</h1>
                        <p class="genmed"><strong>Blank logo image </strong><br>
                          I've included a blank logo image to 
                          help you customize this template to fit your own community
                             forums. The image is a PNG file (non-lossy compression). 
                          <a href="images/extra_blankforumlogo.png">Click here
                           to see it</a> (or right click on the link and select 
                          &quot;Save target as...&quot; to save it).</p>
                        <p class="genmed"><strong>Prevent page layout breaking</strong><br>
                          Many people have emailed me about this since Solaris
                            has fixed width. Christian Fecteau has devised a
                            neat solution to prevent page layout from breaking.
                            You can download it in the form of an MOD here below.
                            Please note that I am not responsible for Christian's
                            work so if you have questions regarding this MOD
                            or how to use it or how it works, please contact
                            Christian, not me:<br>
                            <a href="http://www.phpbb.com/phpBB/viewtopic.php?t=263135">http://www.phpbb.com/phpBB/viewtopic.php?t=263135</a></p>
                        <hr size="1" color="#333333" style="border-color : #AAAAAA">
                        <h1><a name="donate" id="donate"></a>Donate</h1>
                        <p class="genmed">If you like my work please consider making a donation. 
                          It helps me cover costs of software licenses and hardware 
                          and helps me release more themes to the public.</p>
                        <p class="genmed">Donors will be recognized for their contribution unless 
                          they choose not to.</p>
                        <p align="center" class="genmed"><a href="http://www.jakob-persson.com/donate.php">Click 
                          here to proceed to the donations page.</a></p>
                        <hr size="1" color="#333333" style="border-color : #AAAAAA"> 
                        <h1><a name="legal" id="legal"></a><a name="license" id="license"></a>License and Disclaimer</h1>
                        <p class="genmed">  The following terms apply to all templates above and replaces any previous
    license included with the download files: </p>
                        <p class="genmed">All free templates and all files
                            included in the distribution packages are Copyright &copy; 2003
                          -2005 Jakob Persson unless otherwise stated. </p>
                        <p class="genmed">WARNING: Do not delete the credit notice in the page
                          footers and source code! Removal of the phpBB copyright
                          notice or the template credit and copyright notice
                          revokes your privilege to use this template. <br>
                          <br>
  Your privilege to use thess templates, parts of them or any template derived
  from this template, can be rescinded at the author's (Jakob Persson's) sole
  discretion. It is very unlikely that I'll take such action but in the case
  I find my designs being used at unsuitable websites that I do not wish to be
  associated with I retain the right to do so. </p>
                        <p class="genmed">This template is provided free of charge, however
                          some exceptions apply (see below), with no warranties
                          whatsoever. I do not guarantee the quality of this
                          work nor can I be held responsible what problems it
                          may cause you. Use it at your own risk. Be careful,
                          backup the database, backup the files before making
                          any major changes to your phpBB installation, including
                          installing templates! </p>
                        <p class="genmed">If you wish to use parts of these
                            templates for your own creations, designs, skins,
                            themes, templates or anything else you must receive
                            an express, written consent from the author (Jakob
                            Persson). Note that"parts" include
                          visual design, layout and shapes of objects and elements.
                          Simply put, using different files does not make it
                          exempt from requiring permission or being considered
                          a derivative work in regards to applicable law. </p>
                        <p class="genmed">You may not create derivative works without having
                          obtained permission to do so. You may not hire, lease,
                          sell or distribute these works, parts of them or works
                          derived from them without an express, written consent
                          from the author, Jakob Persson. </p>
                        <p class="genmed">By downloading or using these templates you acknowledge
                          having read and understood the terms of the license
                          agreement and understand that you are legally bound
                          by them. </p>
                        <p class="genmed">All use of this design and derivatives
                          is controlled by the terms of this license. If you'd
                          like to modify Solaris for use at your site or use
                          it for your site's design, please see the <a href="http://jakob-persson.com/faq.php">FAQ
                          section</a>                          at my website.
                          If your question is not answered already, you may <a href="http://jakob-persson.com/contact.php">contact
                          me</a>. </p>                        <hr size="1" color="#333333" style="border-color : #AAAAAA">
                        <p class="genmed">                        Last revised: 2006-01-06</p></td>
    							<td width="1%"><img src="images/spacer.gif" width="10" /></td>
						  </tr>
						</table>

                		</td>
					</tr>
				</table>

		    </td>
          </tr>
          <tr>
            <td height="32" colspan="2"><img src="images/bg_bottom_border.jpg" width="750" height="32" /></td>
          </tr>
        </table>


    </td>
  </tr>
</table>

<div align="center"><span class="copyright"><br />


<!--
	Removal of the template credit notice and image below cancels your right to use this template.
-->

<a href="http://www.jakob-persson.com" class="copyright">Solaris 1.12 phpBB theme/template &copy; 2003-2006 Jakob Persson</a> (<a href="http://www.forumthemes.org" class="copyright">forumthemes</a>/<a href="http://www.bbstyles.net" class="copyright">bbstyles</a>)<br />
<br /></a>
  </span></div>






</body>
</html>

